@if (formGroup) {
  <form class="config-container" [formGroup]="formGroup">
    <div class="additional-data-input-container" formArrayName="items">
      @for (
        additionalData of formFields();
        let idx = $index;
        track additionalData
      ) {
        <mat-form-field [formGroupName]="idx">
          <mat-label>{{ additionalData }}</mat-label>
          <input matInput type="text" [formControlName]="additionalData" />
        </mat-form-field>
      }
    </div>
    <div class="button-container">
      <button type="button" mat-flat-button (click)="onSaveMessage()">
        Save configuration
      </button>
    </div>
  </form>
}
