:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: white;
  text-align: center;
  font-size: x-large;
}

.container {
  background-color: #40515e;
  border-radius: 12px;
  padding: 0 10px;
  box-shadow: 1px 1px 1px;
}
