.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  align-items: center;
  flex-grow: 0;

  span {
    color: white;
    font-size: 25pt;
    text-shadow: 2px 2px 2px black;
  }
}

.right-side {
  display: flex;
  align-items: center;
  flex-grow: 0;
  justify-content: end;
  align-items: center;
}

.home-icon {
  height: 100%;
  font-size: 30pt;
  padding-right: 2rem;

  color: white;
  &:hover {
    cursor: pointer;
    color: darkgrey;
  }
}
