@if (guild(); as val) {
<div class="guild-info-container">
  <img src="{{ val | guildIcon }}" [attr.alt]="val.icon" />
  <h3>{{ val.name }}</h3>
</div>
<div class="content-container">
  @if (serverConfigInfo(); as config) {
  <h3>Config</h3>
  <p>
    Number of ignored messages:
    {{ config.excludedMessageIds.length }}
  </p>
  <form
    class="config-container"
    [formGroup]="formGroup"
    (ngSubmit)="onSaveConfig()"
  >
    <mat-form-field>
      <mat-label>Citation channel</mat-label>
      <mat-select [formControlName]="'citeChannel'">
        @for (elem of availableChannels(); track elem) {
        <mat-option [value]="elem.key">{{ elem.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button type="submit" mat-flat-button>Save configuration</button>
  </form>
  <span>{{ formGroup.value | json }}</span>
  } @else {
  <h3>No configuration found!</h3>
  }
</div>
} @else {
<p>Loading ...</p>
}
