.guild-info-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    border-radius: 50%;
    border: 0.5px solid black;
  }
}

.config-container {
  display: flex;
  flex-direction: column;

  button {
    max-width: 10rem;
  }
}
