.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guild-list {
  width: 35rem;
}

.list-item.mdc-list-item.mdc-list-item--with-one-line {
  background-color: #40515e;
  border-radius: 12px;
  margin-bottom: 10px;
  height: 98px;
  width: 589px;

  &:hover {
    background-color: darkgrey;
    cursor: pointer;
  }
}

.list-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.list-title {
  font-size: 15pt;
  font-weight: 500;
  color: white;
}

.bot-icon {
  font-size: 20pt;
}

.guild-avatar.mat-mdc-list-item-avatar.mdc-list-item__start {
  width: 73px;
  height: 73px;
}
