<p>Main menu</p>

<!-- <p>Sidenav</p>
<div class="example-container">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav
      #snav
      [mode]="'side'"
      [fixedInViewport]="false"
      fixedTopGap="56"
      [opened]="true"
      [disableClose]="true"
    >
      <mat-nav-list>
        @for (nav of fillerNav; track nav) {
        <a mat-list-item routerLink=".">{{ nav }}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      @for (content of fillerContent; track content) {
      <p>{{ content }}</p>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->
